In [196]:
import pandas as pd
import numpy as np
import os
import csv


pd.set_option("display.max_columns", 1000)
pd.set_option("display.max_rows", 1000)

In [197]:
df = pd.read_csv(r"C:\Users\Frank\Downloads\iSDA-Africa-soil-analysis (1).csv")
df.head()

  longitude|latitude|start_date|end_date|source|horizon_lower|horizon_upper|aluminium_extractable|boron_extractable|calcium_extractable|carbon_organic|carbon_total|copper_extractable|electrical_conductivity|iron_extractable|magnesium_extractable|manganese_extractable|nitrogen_total|ph|phosphorus_extractable|potassium_extractable|sodium_extractable|sulphur_extractable|zinc_extractable
0  35.18756|-8.6239|01/01/2008|31/12/2018|afsis_s...
1  35.18558|-8.623|01/01/2008|31/12/2018|afsis_sp...
2  35.18579|-8.62221|01/01/2008|31/12/2018|afsis_...
3  35.18266|-8.62177|01/01/2008|31/12/2018|afsis_...
4  35.12984|-8.62005|01/01/2008|31/12/2018|afsis_...

In [198]:
columns = ["latitude", "longitude", "start_date", "end_date", "source", "horizon_lower", "horizon_upper", "aluminium_extractable", "boron_extractable", "calcium_extractable", "carbon_organic", "carbon_total", "copper_extractable", "electrical_conductivity", "iron_extractable", "magnesium_extractable", "manganese_extractable", "nitrogen_total", "ph", "phosphorus_extractable", "potassium_extractable", "sodium_extractable", "sulphur_extractable", "zinc_extractable"]

In [199]:
len(columns)

24

In [200]:
df[["latitude", "longitude", "start_date", "end_date", "source", "horizon_lower", "horizon_upper", "aluminium_extractable", "boron_extractable", "calcium_extractable", "carbon_organic", "carbon_total", "copper_extractable", "electrical_conductivity", "iron_extractable", "magnesium_extractable", "manganese_extractable", "nitrogen_total", "ph", "phosphorus_extractable", "potassium_extractable", "sodium_extractable", "sulphur_extractable", "zinc_extractable"]] = df["longitude|latitude|start_date|end_date|source|horizon_lower|horizon_upper|aluminium_extractable|boron_extractable|calcium_extractable|carbon_organic|carbon_total|copper_extractable|electrical_conductivity|iron_extractable|magnesium_extractable|manganese_extractable|nitrogen_total|ph|phosphorus_extractable|potassium_extractable|sodium_extractable|sulphur_extractable|zinc_extractable"].str.split("|", expand=True)

In [201]:
df.head()

,longitude|latitude|start_date|end_date|source|horizon_lower|horizon_upper|aluminium_extractable|boron_extractable|calcium_extractable|carbon_organic|carbon_total|copper_extractable|electrical_conductivity|iron_extractable|magnesium_extractable|manganese_extractable|nitrogen_total|ph|phosphorus_extractable|potassium_extractable|sodium_extractable|sulphur_extractable|zinc_extractable,latitude,longitude,start_date,end_date,source,horizon_lower,horizon_upper,aluminium_extractable,boron_extractable,calcium_extractable,carbon_organic,carbon_total,copper_extractable,electrical_conductivity,iron_extractable,magnesium_extractable,manganese_extractable,nitrogen_total,ph,phosphorus_extractable,potassium_extractable,sodium_extractable,sulphur_extractable,zinc_extractable
0,35.18756|-8.6239|01/01/2008|31/12/2018|afsis_s...,35.18756,-8.6239,01/01/2008,31/12/2018,afsis_spectral https://www.isda-africa.com/pos...,50,20,1109.856,,1535.388,30.66,31.5,2.259,,92.366,200.601,107.257,2.24,5.942,,283.103,,,
1,35.18558|-8.623|01/01/2008|31/12/2018|afsis_sp...,35.18558,-8.623,01/01/2008,31/12/2018,afsis_spectral https://www.isda-africa.com/pos...,50,20,1168.364,,751.408,21.15,19.36,1.822,,115.923,197.771,90.005,1.57,5.722,,215.459,,,
2,35.18579|-8.62221|01/01/2008|31/12/2018|afsis_...,35.18579,-8.62221,01/01/2008,31/12/2018,afsis_spectral https://www.isda-africa.com/pos...,50,20,1137.113,,468.391,15.64,13.95,1.913,,78.709,188.114,120.433,1.02,5.51,,398.656,,,
3,35.18266|-8.62177|01/01/2008|31/12/2018|afsis_...,35.18266,-8.62177,01/01/2008,31/12/2018,afsis_spectral https://www.isda-africa.com/pos...,50,20,1117.349,,739.698,15.63,12.32,2.876,,127.527,156.417,112.036,1.12,5.817,,267.354,,,
4,35.12984|-8.62005|01/01/2008|31/12/2018|afsis_...,35.12984,-8.62005,01/01/2008,31/12/2018,afsis_spectral https://www.isda-africa.com/pos...,50,20,1219.203,,240.071,18.49,17.34,1.825,,77.542,114.809,57.906,1.19,4.98,,229.682,,,

In [202]:
df.drop(columns=['longitude|latitude|start_date|end_date|source|horizon_lower|horizon_upper|aluminium_extractable|boron_extractable|calcium_extractable|carbon_organic|carbon_total|copper_extractable|electrical_conductivity|iron_extractable|magnesium_extractable|manganese_extractable|nitrogen_total|ph|phosphorus_extractable|potassium_extractable|sodium_extractable|sulphur_extractable|zinc_extractable'], inplace=True)

In [203]:
df.head()

,latitude,longitude,start_date,end_date,source,horizon_lower,horizon_upper,aluminium_extractable,boron_extractable,calcium_extractable,carbon_organic,carbon_total,copper_extractable,electrical_conductivity,iron_extractable,magnesium_extractable,manganese_extractable,nitrogen_total,ph,phosphorus_extractable,potassium_extractable,sodium_extractable,sulphur_extractable,zinc_extractable
0,35.18756,-8.6239,01/01/2008,31/12/2018,afsis_spectral https://www.isda-africa.com/pos...,50,20,1109.856,,1535.388,30.66,31.5,2.259,,92.366,200.601,107.257,2.24,5.942,,283.103,,,
1,35.18558,-8.623,01/01/2008,31/12/2018,afsis_spectral https://www.isda-africa.com/pos...,50,20,1168.364,,751.408,21.15,19.36,1.822,,115.923,197.771,90.005,1.57,5.722,,215.459,,,
2,35.18579,-8.62221,01/01/2008,31/12/2018,afsis_spectral https://www.isda-africa.com/pos...,50,20,1137.113,,468.391,15.64,13.95,1.913,,78.709,188.114,120.433,1.02,5.51,,398.656,,,
3,35.18266,-8.62177,01/01/2008,31/12/2018,afsis_spectral https://www.isda-africa.com/pos...,50,20,1117.349,,739.698,15.63,12.32,2.876,,127.527,156.417,112.036,1.12,5.817,,267.354,,,
4,35.12984,-8.62005,01/01/2008,31/12/2018,afsis_spectral https://www.isda-africa.com/pos...,50,20,1219.203,,240.071,18.49,17.34,1.825,,77.542,114.809,57.906,1.19,4.98,,229.682,,,

In [204]:
df.isnull().sum()

latitude                   0
longitude                  0
start_date                 0
end_date                   0
source                     0
horizon_lower              0
horizon_upper              0
aluminium_extractable      0
boron_extractable          0
calcium_extractable        0
carbon_organic             0
carbon_total               0
copper_extractable         0
electrical_conductivity    0
iron_extractable           0
magnesium_extractable      0
manganese_extractable      0
nitrogen_total             0
ph                         0
phosphorus_extractable     0
potassium_extractable      0
sodium_extractable         0
sulphur_extractable        0
zinc_extractable           0
dtype: int64

In [205]:
df['boron_extractable'].value_counts()

boron_extractable
             47114
0.0166632        2
0.0602482        2
0.113332         2
0.0520198        1
             ...
0.0129643        1
0.0129488        1
0.0129402        1
0.0129201        1
0.38             1
Name: count, Length: 2109, dtype: int64

In [206]:
df['phosphorus_extractable'].value_counts().head()

phosphorus_extractable
           47114
10.8605        2
5.35366        1
6.03268        1
2.82367        1
Name: count, dtype: int64

In [207]:
null_vals = ['phosphorus_extractable', 'boron_extractable', 'sodium_extractable', 'sulphur_extractable', 'zinc_extractable']

for i in df[null_vals]:
    print(df[i].value_counts().to_frame())

                        count
phosphorus_extractable
                        47114
10.8605                     2
5.35366                     1
6.03268                     1
2.82367                     1
...                       ...
4.23479                     1
6.87584                     1
2.48232                     1
4.10324                     1
30.9                        1

[2111 rows x 1 columns]
                   count
boron_extractable
                   47114
0.0166632              2
0.0602482              2
0.113332               2
0.0520198              1
...                  ...
0.0129643              1
0.0129488              1
0.0129402              1
0.0129201              1
0.38                   1

[2109 rows x 1 columns]
                    count
sodium_extractable
                    47070
26.6302                19
24.2331                11
28.2258                11
26.4134                10
...                   ...
32.3589                 1
21.6025                 1
17.63                   1
122.784                 1
23.1472                 1

[1407 rows x 1 columns]
                     count
sulphur_extractable
                     47114
10.3526                  2
10.783                   2
7.12939                  2
6.72213                  2
...                    ...
5.33124                  1
5.60834                  1
5.91533                  1
5.43591                  1
4.8                      1

[2108 rows x 1 columns]
                  count
zinc_extractable
                  47114
1.43444               2
1.01032               2
1.24467               2
1.60792               2
...                 ...
0.842994              1
0.927886              1
1.5272                1
1.19045               1
1.64                  1

[2095 rows x 1 columns]

In [208]:
for i in df[null_vals]:
    df[i].replace(' ', np.nan, inplace=True)

C:\Users\Frank\AppData\Local\Temp\ipykernel_1164\2577761297.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[i].replace(' ', np.nan, inplace=True)

In [209]:
null_vals = ['phosphorus_extractable', 'boron_extractable', 'sodium_extractable', 'sulphur_extractable', 'zinc_extractable']

for i in df[null_vals]:
    print(df[i].value_counts().to_frame())

                        count
phosphorus_extractable
                        47114
10.8605                     2
5.35366                     1
6.03268                     1
2.82367                     1
...                       ...
4.23479                     1
6.87584                     1
2.48232                     1
4.10324                     1
30.9                        1

[2111 rows x 1 columns]
                   count
boron_extractable
                   47114
0.0166632              2
0.0602482              2
0.113332               2
0.0520198              1
...                  ...
0.0129643              1
0.0129488              1
0.0129402              1
0.0129201              1
0.38                   1

[2109 rows x 1 columns]
                    count
sodium_extractable
                    47070
26.6302                19
24.2331                11
28.2258                11
26.4134                10
...                   ...
32.3589                 1
21.6025                 1
17.63                   1
122.784                 1
23.1472                 1

[1407 rows x 1 columns]
                     count
sulphur_extractable
                     47114
10.3526                  2
10.783                   2
7.12939                  2
6.72213                  2
...                    ...
5.33124                  1
5.60834                  1
5.91533                  1
5.43591                  1
4.8                      1

[2108 rows x 1 columns]
                  count
zinc_extractable
                  47114
1.43444               2
1.01032               2
1.24467               2
1.60792               2
...                 ...
0.842994              1
0.927886              1
1.5272                1
1.19045               1
1.64                  1

[2095 rows x 1 columns]

In [210]:
df.isnull().sum()

latitude                   0
longitude                  0
start_date                 0
end_date                   0
source                     0
horizon_lower              0
horizon_upper              0
aluminium_extractable      0
boron_extractable          0
calcium_extractable        0
carbon_organic             0
carbon_total               0
copper_extractable         0
electrical_conductivity    0
iron_extractable           0
magnesium_extractable      0
manganese_extractable      0
nitrogen_total             0
ph                         0
phosphorus_extractable     0
potassium_extractable      0
sodium_extractable         0
sulphur_extractable        0
zinc_extractable           0
dtype: int64

In [211]:

def convert_dtypes(df):
    quatitave_cols = ["latitude", "longitude", "horizon_lower", "horizon_upper", "aluminium_extractable", "boron_extractable", "calcium_extractable", "carbon_organic", "carbon_total", "copper_extractable", "electrical_conductivity", "iron_extractable", "magnesium_extractable", "manganese_extractable", "nitrogen_total", "ph", "phosphorus_extractable", "potassium_extractable", "sodium_extractable", "sulphur_extractable", "zinc_extractable"]
    object_cols = ["source"]
    date_cols = ["start_date", "end_date"]
    
    for qc in df[quatitave_cols]:
        df[qc] = pd.to_numeric(df[qc], errors="coerce")

    for dc in df[date_cols]:
        df[dc] = pd.to_datetime(df[dc], errors="coerce")

    return df.head()

In [212]:
convert_dtypes(df)

C:\Users\Frank\AppData\Local\Temp\ipykernel_1164\3479534211.py:10: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df[dc] = pd.to_datetime(df[dc], errors="coerce")

,latitude,longitude,start_date,end_date,source,horizon_lower,horizon_upper,aluminium_extractable,boron_extractable,calcium_extractable,carbon_organic,carbon_total,copper_extractable,electrical_conductivity,iron_extractable,magnesium_extractable,manganese_extractable,nitrogen_total,ph,phosphorus_extractable,potassium_extractable,sodium_extractable,sulphur_extractable,zinc_extractable
0,35.18756,-8.62390,2008-01-01,2018-12-31,afsis_spectral https://www.isda-africa.com/pos...,50,20,1109.856,NaN,1535.388,30.66,31.50,2.259,NaN,92.366,200.601,107.257,2.24,5.942,NaN,283.103,NaN,NaN,NaN
1,35.18558,-8.62300,2008-01-01,2018-12-31,afsis_spectral https://www.isda-africa.com/pos...,50,20,1168.364,NaN,751.408,21.15,19.36,1.822,NaN,115.923,197.771,90.005,1.57,5.722,NaN,215.459,NaN,NaN,NaN
2,35.18579,-8.62221,2008-01-01,2018-12-31,afsis_spectral https://www.isda-africa.com/pos...,50,20,1137.113,NaN,468.391,15.64,13.95,1.913,NaN,78.709,188.114,120.433,1.02,5.510,NaN,398.656,NaN,NaN,NaN
3,35.18266,-8.62177,2008-01-01,2018-12-31,afsis_spectral https://www.isda-africa.com/pos...,50,20,1117.349,NaN,739.698,15.63,12.32,2.876,NaN,127.527,156.417,112.036,1.12,5.817,NaN,267.354,NaN,NaN,NaN
4,35.12984,-8.62005,2008-01-01,2018-12-31,afsis_spectral https://www.isda-africa.com/pos...,50,20,1219.203,NaN,240.071,18.49,17.34,1.825,NaN,77.542,114.809,57.906,1.19,4.980,NaN,229.682,NaN,NaN,NaN

In [213]:
# for i in df[null_vals]:
#     print(df[i].value_counts().to_frame())

In [214]:
df["zinc_extractable"].value_counts()

zinc_extractable
1.477180    2
1.434440    2
1.224670    2
1.010320    2
1.607920    2
           ..
0.751703    1
0.842994    1
0.927886    1
1.527200    1
1.640000    1
Name: count, Length: 2094, dtype: int64

In [215]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49225 entries, 0 to 49224
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   latitude                 49225 non-null  float64
 1   longitude                49225 non-null  float64
 2   start_date               49225 non-null  datetime64[ns]
 3   end_date                 49225 non-null  datetime64[ns]
 4   source                   49225 non-null  object
 5   horizon_lower            49225 non-null  int64
 6   horizon_upper            49225 non-null  int64
 7   aluminium_extractable    49223 non-null  float64
 8   boron_extractable        2111 non-null   float64
 9   calcium_extractable      49225 non-null  float64
 10  carbon_organic           49225 non-null  float64
 11  carbon_total             47068 non-null  float64
 12  copper_extractable       49179 non-null  float64
 13  electrical_conductivity  2109 non-null   float64
 14  iron_extractable         49179 non-null  float64
 15  magnesium_extractable    49225 non-null  float64
 16  manganese_extractable    49177 non-null  float64
 17  nitrogen_total           49179 non-null  float64
 18  ph                       49222 non-null  float64
 19  phosphorus_extractable   2111 non-null   float64
 20  potassium_extractable    49225 non-null  float64
 21  sodium_extractable       2155 non-null   float64
 22  sulphur_extractable      2111 non-null   float64
 23  zinc_extractable         2111 non-null   float64
dtypes: datetime64[ns](2), float64(19), int64(2), object(1)
memory usage: 9.0+ MB

In [216]:
df['zinc_extractable'].mean()

np.float64(1.2562259654192327)

In [217]:
df.isnull().sum()

latitude                       0
longitude                      0
start_date                     0
end_date                       0
source                         0
horizon_lower                  0
horizon_upper                  0
aluminium_extractable          2
boron_extractable          47114
calcium_extractable            0
carbon_organic                 0
carbon_total                2157
copper_extractable            46
electrical_conductivity    47116
iron_extractable              46
magnesium_extractable          0
manganese_extractable         48
nitrogen_total                46
ph                             3
phosphorus_extractable     47114
potassium_extractable          0
sodium_extractable         47070
sulphur_extractable        47114
zinc_extractable           47114
dtype: int64

In [218]:
df['ph'].value_counts().tail()

ph
5.52450    1
6.40250    1
5.63750    1
4.87050    1
6.22346    1
Name: count, dtype: int64

In [220]:
nan_vals = ["aluminium_extractable", "boron_extractable", "carbon_total", "copper_extractable", "electrical_conductivity", "iron_extractable", "manganese_extractable", "nitrogen_total", "ph", "phosphorus_extractable", "sodium_extractable", "sulphur_extractable", "zinc_extractable"]

for i in df[null_vals]:
    df[i].fillna(df[i].mean(), inplace=True)

C:\Users\Frank\AppData\Local\Temp\ipykernel_1164\1987047872.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[i].fillna(df[i].mean(), inplace=True)

In [221]:
# df.isnull().sum()

In [222]:
df['boron_extractable'].isnull().sum()

np.int64(0)

In [223]:
df['boron_extractable'].fillna(df['boron_extractable'].mean(), inplace=True)

C:\Users\Frank\AppData\Local\Temp\ipykernel_1164\1395581146.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['boron_extractable'].fillna(df['boron_extractable'].mean(), inplace=True)

In [224]:
df['boron_extractable'].isnull().sum()

np.int64(0)

In [225]:
df.isnull().sum()

latitude                       0
longitude                      0
start_date                     0
end_date                       0
source                         0
horizon_lower                  0
horizon_upper                  0
aluminium_extractable          2
boron_extractable              0
calcium_extractable            0
carbon_organic                 0
carbon_total                2157
copper_extractable            46
electrical_conductivity    47116
iron_extractable              46
magnesium_extractable          0
manganese_extractable         48
nitrogen_total                46
ph                             3
phosphorus_extractable         0
potassium_extractable          0
sodium_extractable             0
sulphur_extractable            0
zinc_extractable               0
dtype: int64